.infoBox {
  flex: 1;
}

.infoBox:not(:last-child) {
  margin-right: 10px;
}

.infoBox--selected {
  border-top: 10px solid #aaf683;
}

.infoBox--red {
  border-color: #d90429;
}

.infoBox__cases--green {
  color: rgb(90, 189, 90) !important;
}

.infoBox__cases {
  color: #81081e;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}

.title{
   font-size: 1.5rem !important;
   font-weight: bold !important;
}

.innerText{
  font-size: 1rem !important;
   font-weight: bold !important;
}
